<button pButton type="button" label="Huge" class="ui-button-rounded" (click)="onSelectionChanged('Huge')">
</button>
<button pButton type="button" label="Small" class="ui-button-rounded ui-button-secondary" (click)="onSelectionChanged('Small')">
</button>
<button pButton type="button" label="Medium" class="ui-button-rounded ui-button-success" (click)="onSelectionChanged('Medium')">
</button>
<button pButton type="button" label="Large" class="ui-button-rounded ui-button-info" (click)="onSelectionChanged('Large')">
</button>