<button pButton type="button" label="Recieve" class="ui-button-rounded" (click)="onSelectionChanged('Recieve')">
</button>
<button pButton type="button" label="Accepted" class="ui-button-rounded ui-button-secondary" (click)="onSelectionChanged('Accepted')">
</button>
<button pButton type="button" label="Reject" class="ui-button-rounded ui-button-success" (click)="onSelectionChanged('Reject')">
</button>
<button pButton type="button" label="Show All" class="ui-button-rounded ui-button-info" (click)="onSelectionChanged('Show All')">
</button>